<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /asd
RewriteRule ^/asd/index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /asd/index.html [L]
</IfModule>